.id_btn, .pass_btn, .url_btn{
    width: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#games{
    overflow: auto;
}

#games > a{
    margin-right: 20px;
    overflow: hidden;
    float: left;
}

#pass{
    width: 600px;
    height: 700px;
    overflow: auto;
    margin: 0 auto;
}

#pass button{
	height: 22px;
}
#pass input[type="text"] {
	height: 14px;
}
#pass tr{
	height: 80px;
}

#pass .table .control-group{
    margin-bottom: -5px;
}

